.env
traefik/config/acme.json
.bash_history
.bashrc
.cache/
.codex/
.config/
.dotnet/
.git-credentials
.gitconfig
.gnupg/
.lesshst
.local/
.npm/
.pki/
.profile
.viminfo
.vscode-server/
.vscode/
homepage/config/logs/
