services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest@sha256:37be832b78548e3f55f69c45b50e3b14d18df1b6def2a4994258217e67efb1a1
    container_name: sonarr
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /media/arr/sonarr/config:/config
      - ${MEDIA_PATH:-}/media/arr/sonarr/tv:/tv #optional
      - ${MEDIA_PATH:-}/media/arr/qbittorrent/downloads:/downloads #optional
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarr-rtr.entrypoints=websecure"
      - "traefik.http.routers.sonarr-rtr.rule=Host(`sonarr.${MY_DOMAIN}`)"
      - "traefik.http.routers.sonarr-rtr.middlewares=local-ipwhitelist@file"
      - "traefik.http.services.sonarr-rtr.loadbalancer.server.port=8989"

  radarr:
    image: lscr.io/linuxserver/radarr:latest@sha256:f08dda38e7d12e5a722d9a5cb6e54acaf63c8598fefeefec88effe0c0d0038dd
    container_name: radarr
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /media/arr/radarr/data:/config
      - ${MEDIA_PATH:-}/media/arr/radarr/movies:/movies #optional
      - ${MEDIA_PATH:-}/media/arr/qbittorrent/downloads:/downloads #optional
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.radarr-rtr.entrypoints=websecure"
      - "traefik.http.routers.radarr-rtr.rule=Host(`radarr.${MY_DOMAIN}`)"
      - "traefik.http.routers.radarr-rtr.middlewares=local-ipwhitelist@file"
      - "traefik.http.services.radarr-rtr.loadbalancer.server.port=7878"

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest@sha256:e74a1e093dcc223d671d4b7061e2b4946f1989a4d3059654ff4e623b731c9134
    container_name: prowlarr
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /media/arr/prowlarr/config:/config
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prowlarr-rtr.entrypoints=websecure"
      - "traefik.http.routers.prowlarr-rtr.rule=Host(`prowlarr.${MY_DOMAIN}`)"
      - "traefik.http.routers.prowlarr-rtr.middlewares=local-ipwhitelist@file"
      - "traefik.http.services.prowlarr-rtr.loadbalancer.server.port=9696"

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest@sha256:18ff732dffcebd559d15a91845fc3360d49652ea01dccfbfd98b8248ceb86e38
    container_name: bazarr
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /media/arr/bazarr/config:/config
      - ${MEDIA_PATH:-}/media/arr/radarr/movies:/movies #optional
      - ${MEDIA_PATH:-}/media/arr/sonarr/tv:/tv #optional
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bazarr-rtr.entrypoints=websecure"
      - "traefik.http.routers.bazarr-rtr.rule=Host(`bazarr.${MY_DOMAIN}`)"
      - "traefik.http.routers.bazarr-rtr.middlewares=local-ipwhitelist@file"
      - "traefik.http.services.bazarr-rtr.loadbalancer.server.port=6767"

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest@sha256:dfa75bc534ad4f36262f75b5c1d4c4f0ddd5e7ed5711ebc581c70920cce204ee
    container_name: qbittorrent
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - /media/arr/qbittorrent/config:/config
      - ${MEDIA_PATH:-}/media/arr/qbittorrent/downloads:/downloads #optional
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.qbittorrent-rtr.entrypoints=websecure"
      - "traefik.http.routers.qbittorrent-rtr.rule=Host(`qbittorrent.${MY_DOMAIN}`)"
      - "traefik.http.routers.qbittorrent-rtr.middlewares=local-ipwhitelist@file"
      - "traefik.http.services.qbittorrent-rtr.loadbalancer.server.port=8080"

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest@sha256:45814a5515fdb81cd41f5db946cfd53a3c5e91f0665b40b55bae30cab4b3cd2e
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - JELLYFIN_PublishedServerUrl=http://192.168.0.198 #optional
    volumes:
      - /media/arr/jellyfin/config:/config
      - ${MEDIA_PATH:-}/media/arr/sonarr/tv:/data/tvshows
      - ${MEDIA_PATH:-}/media/arr/radarr/movies:/data/movies
    ports:
      - 8096:8096
      - 8920:8920 #optional
      - 7359:7359/udp #optional
      - 1900:1900/udp #optional
    restart: unless-stopped

  jellyseerr:
    image: fallenbagel/jellyseerr:latest@sha256:4538137bc5af902dece165f2bf73776d9cf4eafb6dd714670724af8f3eb77764
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=Etc/UTC
      - PORT=5055 #optional
    ports:
      - 5055:5055
    volumes:
      - /media/arr/jellyseerr/config:/app/config
    restart: unless-stopped
    labels:
      - 'traefik.enable=true'
      ## HTTP Routers
      - 'traefik.http.routers.jellyseerr-rtr.entrypoints=websecure'
      - 'traefik.http.routers.jellyseerr-rtr.rule=Host(`jellyseerr.${MY_DOMAIN}`)'
      ## HTTP Services
      - 'traefik.http.services.jellyseerr-rtr.loadbalancer.server.port=5055'
  
  profilarr:
    image: santiagosayshey/profilarr:latest@sha256:8a514f8429cd33885166facc9eb6504fa9ded056c737609e5e8ef32ae0afb350 # or :beta
    container_name: profilarr
    ports:
      - 6868:6868
    volumes:
      - /media/arr/profilarr/config:/config # not using samba drive bc sqlite errors
    environment:
      - TZ=UTC # Set your timezone
    env_file:
      - .env # Optional: Only needed if contributing to a database
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.profilarr-rtr.entrypoints=websecure"
      - "traefik.http.routers.profilarr-rtr.rule=Host(`profilarr.${MY_DOMAIN}`)"
      - "traefik.http.routers.profilarr-rtr.middlewares=local-ipwhitelist@file"
      - "traefik.http.services.profilarr-rtr.loadbalancer.server.port=6868"

  gluetun:
    image: qmcgaw/gluetun:latest@sha256:a26bf64824e15a841c6ab9757a008969ae814ab3991c22f1f397c7c303575623
    container_name: gluetun
    ports:
      - 8989:8989 #sonarr
      - 7878:7878 #radarr
      - 9696:9696 #prowlarr
      - 6767:6767 #bazarr
      - 8080:8080 #qbittorrent
      - 6881:6881 #qbittorrent
      - 6881:6881/udp #qbittorrent
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=nordvpn
      - VPN_TYPE=openvpn # or wireguard
      - OPENVPN_USER=${OPENVPN_USER:-cUSTTn48rLPJSb148fsFpdMJ}
      - OPENVPN_PASSWORD=${OPENVPN_PASSWORD:-}
      - SERVER_REGIONS=Washington
      - SERVER_COUNTRIES="United States"
    restart: unless-stopped
    
  portainer:
    image: portainer/portainer-ee:latest@sha256:d9ca585c2b0aa0636f3c734f6c07bd39f170059023ccbc1a725d9f2f804ddc22
    container_name: portainer
    ports:
      - 9443:9443
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.portainer.rule=Host(`portainer.${MY_DOMAIN}`)"
      - "traefik.http.routers.portainer.entrypoints=websecure"
      - "traefik.http.routers.portainer.tls.certresolver=lets-encr"
      - "traefik.http.routers.portainer.middlewares=security-headers@file"
      - "traefik.http.routers.portainer.middlewares=local-ipwhitelist@file"
      - "traefik.http.services.portainer.loadbalancer.server.port=9000"
      
  dispatcharr:
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    image: ghcr.io/dispatcharr/dispatcharr:latest@sha256:8b53fbe12122e827034a6fb0a4ab9a9b8d31699587dca6d6d6394619d44dbb16
    container_name: dispatcharr
    ports:
      - 9191:9191
    volumes:
      - dispatcharr_data:/data
    environment:
      - DISPATCHARR_ENV=aio
      - REDIS_HOST=localhost
      - CELERY_BROKER_URL=redis://localhost:6379/0
      - DISPATCHARR_LOG_LEVEL=info
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dispatcharr-rtr.entrypoints=websecure"
      - "traefik.http.routers.dispatcharr-rtr.rule=Host(`dispatcharr.${MY_DOMAIN}`)"
      - "traefik.http.routers.dispatcharr-rtr.middlewares=local-ipwhitelist@file"
      - "traefik.http.services.dispatcharr-rtr.loadbalancer.server.port=9191"
    # Optional for hardware acceleration
    #devices:
    #  - /dev/dri:/dev/dri  # For Intel/AMD GPU acceleration (VA-API)
    # Uncomment the following lines for NVIDIA GPU support
    # NVidia GPU support (requires NVIDIA Container Toolkit)
    #deploy:
    #  resources:
    #      reservations:
    #          devices:
    #              - driver: nvidia
    #                count: all
    #                capabilities: [gpu]
  glances:
    image: nicolargo/glances:latest
    container_name: glances
    pid: host
    environment:
      - GLANCES_OPT=-w
      - TZ=Etc/UTC
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /sys:/sys:ro
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped


  cloudflare-ddns:
    image: timothyjmiller/cloudflare-ddns:latest
    container_name: cloudflare-ddns
    volumes:
      - /media/arr/cloudflare-ddns/config.json:/config.json:ro
    restart: unless-stopped

  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: uptime-kuma
    volumes:
      - /media/arr/uptime-kuma/data:/app/data
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.uptime-kuma-rtr.entrypoints=websecure"
      - "traefik.http.routers.uptime-kuma-rtr.rule=Host(`uptime.${MY_DOMAIN}`)"
      - "traefik.http.services.uptime-kuma-rtr.loadbalancer.server.port=3001"

  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=homepage.${MY_DOMAIN}
      - HOMEPAGE_VAR_DOMAIN=${MY_DOMAIN}
      - HOMEPAGE_VAR_PORTAINER_KEY=${HOMEPAGE_VAR_PORTAINER_KEY}
      - HOMEPAGE_VAR_TRAEFIK_USER=${HOMEPAGE_VAR_TRAEFIK_USER}
      - HOMEPAGE_VAR_TRAEFIK_PASS=${HOMEPAGE_VAR_TRAEFIK_PASS}
      - HOMEPAGE_VAR_ADGUARD_USER=${HOMEPAGE_VAR_ADGUARD_USER}
      - HOMEPAGE_VAR_ADGUARD_PASS=${HOMEPAGE_VAR_ADGUARD_PASS}
      - HOMEPAGE_VAR_JELLYFIN_KEY=${HOMEPAGE_VAR_JELLYFIN_KEY}
      - HOMEPAGE_VAR_JELLYSEERR_KEY=${HOMEPAGE_VAR_JELLYSEERR_KEY}
      - HOMEPAGE_VAR_SONARR_KEY=${HOMEPAGE_VAR_SONARR_KEY}
      - HOMEPAGE_VAR_RADARR_KEY=${HOMEPAGE_VAR_RADARR_KEY}
      - HOMEPAGE_VAR_BAZARR_KEY=${HOMEPAGE_VAR_BAZARR_KEY}
      - HOMEPAGE_VAR_QBITTORRENT_USER=${HOMEPAGE_VAR_QBITTORRENT_USER}
      - HOMEPAGE_VAR_QBITTORRENT_PASS=${HOMEPAGE_VAR_QBITTORRENT_PASS}
      - HOMEPAGE_VAR_PROWLARR_KEY=${HOMEPAGE_VAR_PROWLARR_KEY}
      - HOMEPAGE_VAR_PROXMOX_USER=${HOMEPAGE_VAR_PROXMOX_USER}
      - HOMEPAGE_VAR_PROXMOX_SECRET=${HOMEPAGE_VAR_PROXMOX_SECRET}
      - HOMEPAGE_VAR_TAILSCALE_DEVICEID=${HOMEPAGE_VAR_TAILSCALE_DEVICEID}
      - HOMEPAGE_VAR_TAILSCALE_KEY=${HOMEPAGE_VAR_TAILSCALE_KEY}
    volumes:
      - /root/homepage/config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /mnt/media:/mnt/media:ro
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.homepage-rtr.entrypoints=websecure"
      - "traefik.http.routers.homepage-rtr.rule=Host(`homepage.${MY_DOMAIN}`)"
      - "traefik.http.services.homepage-rtr.loadbalancer.server.port=3000"
  
networks:
  default:
    name: $DEFAULT_NETWORK
    external: true
volumes:
  portainer_data:
    name: portainer_data
  dispatcharr_data:
    name: dispatcharr_data
