services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest@sha256:8b9f2138ec50fc9e521960868f79d2ad0d529bc610aef19031ea8ff80b54c5e0
    container_name: sonarr
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ${MEDIA_PATH:-}/media/arr/sonarr/config:/config
      - ${MEDIA_PATH:-}/media/arr/sonarr/tv:/tv #optional
      - ${MEDIA_PATH:-}/media/arr/qbittorrent/downloads:/downloads #optional
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest@sha256:6c0948b42c149e36bb3dbc0b64d36c77b2d3c9dccf1b424c4f72af1e57ba0c21
    container_name: radarr
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ${MEDIA_PATH:-}/media/arr/radarr/data:/config
      - ${MEDIA_PATH:-}/media/arr/radarr/movies:/movies #optional
      - ${MEDIA_PATH:-}/media/arr/qbittorrent/downloads:/downloads #optional
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest@sha256:67a8aaedcfd6989f3030b937a6a07007310b1dfc7ee8df16d2cbfa48d1c1158c
    container_name: prowlarr
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ${MEDIA_PATH:-}/media/arr/prowlarr/config:/config
    restart: unless-stopped

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest@sha256:001875e61839c8a50743f0bc0fa4da2a55ed8a038b9b5ed0dd2c663dd3d0bfc7
    container_name: bazarr
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /path/to/bazarr/config:/config
      - ${MEDIA_PATH:-}/media/arr/radarr/movies:/movies #optional
      - ${MEDIA_PATH:-}/media/arr/sonarr/tv:/tv #optional
    restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest@sha256:a68c4cfb7b07c39cf3f13e7f1d23d333c1e4a60304d37bc1eec7af3eacfe12d5
    container_name: qbittorrent
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - ${MEDIA_PATH:-}/media/arr/qbittorrent/config:/config
      - ${MEDIA_PATH:-}/media/arr/qbittorrent/downloads:/downloads #optional
    restart: unless-stopped

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest@sha256:ed5dc797d12089271e0e61a740cbf9626c4e513400ca2d96c54d35500eeb907c
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - JELLYFIN_PublishedServerUrl=http://192.168.0.198 #optional
    volumes:
      - ${MEDIA_PATH:-}/media/arr/jellyfin/config:/config
      - ${MEDIA_PATH:-}/media/arr/sonarr/tv:/data/tvshows
      - ${MEDIA_PATH:-}/media/arr/radarr/movies:/data/movies
    ports:
      - 8096:8096
      - 8920:8920 #optional
      - 7359:7359/udp #optional
      - 1900:1900/udp #optional
    restart: unless-stopped

  jellyseerr:
    image: fallenbagel/jellyseerr:latest@sha256:4538137bc5af902dece165f2bf73776d9cf4eafb6dd714670724af8f3eb77764
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=Etc/UTC
      - PORT=5055 #optional
    ports:
      - 5055:5055
    volumes:
      - ${MEDIA_PATH:-}/media/arr/jellyseerr/config:/app/config
    restart: unless-stopped
  
  profilarr:
    image: santiagosayshey/profilarr:latest@sha256:c8ad91a8e5d60b3816321b3a1f68332b29a23f910f6bd2c2d7b4a83f881f032f # or :beta
    container_name: profilarr
    ports:
      - 6868:6868
    volumes:
      - /media/arr/profilarr/config:/config # not using samba drive bc sqlite errors
    environment:
      - TZ=UTC # Set your timezone
    env_file:
      - .env # Optional: Only needed if contributing to a database
    restart: unless-stopped

  gluetun:
    image: qmcgaw/gluetun:latest@sha256:9a63ae1fc329570f1e664f25b4f3761bb5a1915c6d07d9906b1614cfae2498ea
    container_name: gluetun
    ports:
      - 8989:8989 #sonarr
      - 7878:7878 #radarr
      - 9696:9696 #prowlarr
      - 6767:6767 #bazarr
      - 8080:8080 #qbittorrent
      - 6881:6881 #qbittorrent
      - 6881:6881/udp #qbittorrent
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=nordvpn
      - VPN_TYPE=openvpn # or wireguard
      - OPENVPN_USER=${OPENVPN_USER:-cUSTTn48rLPJSb148fsFpdMJ}
      - OPENVPN_PASSWORD=${OPENVPN_PASSWORD:-}
      - SERVER_REGIONS=Washington
      - SERVER_COUNTRIES="United States"
    restart: unless-stopped
    
  portainer:
    image: portainer/portainer-ee:latest@sha256:073b63ebfc68244aae13d453317ee482964b70082d3ee6a53d87b52f93d52c2e
    container_name: portainer
    ports:
      - 9443:9443
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.portainer.rule=Host(`portainer.${MY_DOMAIN}`)"
      - "traefik.http.routers.portainer.entrypoints=websecure"
      - "traefik.http.routers.portainer.tls.certresolver=lets-encr"
      - "traefik.http.routers.portainer.middlewares=security-headers@file"
      - "traefik.http.routers.portainer.middlewares=local-ipwhitelist@file"
      - "traefik.http.services.portainer.loadbalancer.server.port=9000"
      
  dispatcharr:
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    image: ghcr.io/dispatcharr/dispatcharr:latest@sha256:a095aff4160ce932ada009bdb75a0d5b06d6f7da05fa385589a080fc628e4983
    container_name: dispatcharr
    ports:
      - 9191:9191
    volumes:
      - dispatcharr_data:/data
    environment:
      - DISPATCHARR_ENV=aio
      - REDIS_HOST=localhost
      - CELERY_BROKER_URL=redis://localhost:6379/0
      - DISPATCHARR_LOG_LEVEL=info
    restart: unless-stopped
    # Optional for hardware acceleration
    #devices:
    #  - /dev/dri:/dev/dri  # For Intel/AMD GPU acceleration (VA-API)
    # Uncomment the following lines for NVIDIA GPU support
    # NVidia GPU support (requires NVIDIA Container Toolkit)
    #deploy:
    #  resources:
    #      reservations:
    #          devices:
    #              - driver: nvidia
    #                count: all
    #                capabilities: [gpu]
  
networks:
  default:
    name: $DEFAULT_NETWORK
    external: true
volumes:
  portainer_data:
    name: portainer_data
  dispatcharr_data:
    name: dispatcharr_data
